<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/guides/new.css"/>
<%- include('../partials/nav') %>

<main>
  <h1 class="my-4">Create New Guide</h1>

  <form action="/guides" method="POST">
    <div class="container-fluid overflow-auto my-4">
      <div class="row justify-content-center">
        <% heroes.forEach((hero) => { %>
          <div class="col-lg-1 col-sm-4 g-4">
            <div class="card h-100 text-center">
              <img src="<%= hero.imageUrl %>" alt="dota2 hero portrait">
              <div class="card-body">
                <h2 class="card-title">
                  <%= hero.name.split("_").join(" ") %> 
                </h2>
                <input type="radio" class="btn-check" name="hero" id="<%= hero.name %>" autocomplete="off" value="<%= hero._id %>">
                <label class="btn btn-outline-primary" for="<%= hero.name %>">Select</label>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    </div>

    <div class="container py-4">
      <div class="row">
        <div class="col text-center overflow-auto item-container">
          <h2>Starting Items</h2>
          <% results.forEach((item) => { %>
            <div class="card col-4 text-center">
              <img src="<%= item[1].images.lg %> " alt="dota2 item thumbnail">
              <div class="card-body">
                <h5 class="card-title">
                  <%= item[1].localized_name.split("_").join(" ") %>
                </h5>
              </div>
            </div>
          <% }) %>
        </div>
        <div class="col text-center">
          <h2>Core Items</h2>
        </div>
        <div class="col text-center">
          <h2>Situational Items</h2>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col text-center">
          <button type="submit">Submit Guide</button>
        </div>
      </div>
    </div>
  </form>

</main>

<%- include('../partials/footer') %>