<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/guides/new.css"/>
<%- include('../partials/nav') %>

<main>
  <h1 class="mt-5">Create New Guide</h1>

  <form action="/guides" method="POST">
    <div class="row justify-content-center mt-2">
      <div class="form-floating ps-2">
        <input 
          type="text" 
          name="name" 
          class="form-control"
          id="floating-input"
          placeholder="Guide Name"
          autocomplete="off"
          required
        >
        <label for="floating-input">Guide Name</label>
      </div>
    </div>
    <div class="container-fluid my-4">
      <div class="row overflow-auto hero-container justify-content-center">
        <% heroes.forEach((hero) => { %>
          <div class="col-lg-1 col-md-3 col-sm-4 g-4">
            <div class="card h-100 text-center">
              <img src="<%= hero.imageUrl %>" alt="dota2 hero portrait">
              <div class="card-body d-flex flex-column">
                <h2 class="card-title mt-auto">
                  <%= hero.name.split("_").join(" ") %> 
                </h2>
                <input type="radio" class="btn-check" name="hero" id="<%= hero.name %>" autocomplete="off" value="<%= hero._id %>" required>
                <label class="btn btn-outline-primary mt-auto" for="<%= hero.name %>">Select</label>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    </div>

    <div class="container py-4 px-5">
      <div class="row text-center">
        <h2>Choose Items</h2>
      </div>
      <div class="row overflow-auto item-container justify-content-center">
        <% items.forEach((item) => { %>
          <div class="col-lg-1 col-md-2 col-sm-3 g-3">
            <div class="card h-100 text-center">
              <img src="<%= item.imageUrl %>" alt="dota2 item thumbnail">
              <div class="card-body">
                <div>
                  <input
                    type="checkbox" 
                    name="include"
                    value="<%= item._id %>"
                  >
                  <select name="priority">
                    <option value="<%= 0 %>">Starting</option>
                    <option value="<%= 1 %>">Core</option>
                    <option value="<%= 2 %>">Situational</option>
                  </select>
                  <input
                    hidden
                    type="text" 
                    name="itemId"
                    value="<%= item._id %>"
                  >
                </div>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col text-center">
          <button type="submit">Submit Guide</button>
        </div>
      </div>
    </div>
  </form>

</main>

<%- include('../partials/footer') %>