<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1 class="mt-4">Greetings, <%= user ? user.profile.name : "traveler" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
  <a class="mt-5 btn btn-primary" href="/heroes">Go to Heroes</a>
</main>

<%- include('./partials/footer') %>
