<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/heroes/index.css">
<%- include('../partials/nav') %>

<main>
  <h1 class="my-4"><span>All Heroes</span></h1>
  <% if (heroes.length) {%>
    <div class="container created-heroes-container my-4">
      <div class="row row-cols-3 row-cols-lg-6 g-5 justify-content-center">
        <% heroes.forEach((hero) => { %>
          <div class="col">
            <div class="card h-100 text-center">
              <img src="<%= hero.imageUrl %>" alt="dota2 hero portrait">
              <div class="card-body d-flex flex-column">
                <h2 class="card-title hero-title mt-auto">
                  <%= hero.name.split("_").join(" ") %> 
                </h2>
                <p class="guide-count mt-auto"><%= hero.guides.length %> Guides Available</p>
                <a 
                  href="/heroes/<%= hero._id %>"
                  class="btn hero-btn mt-auto"
                >
                  Details
                </a>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  <% }else { %>
    <h1 class="notification mt-4">No Heroes Yet</h1>
  <% } %> 

  <% if(!user) {%>
    <h1 class="glow mt-4">Login to add a new Hero</h1>
  <% } %>

  <% if (user) { %>
    <p>
      <button class="btn hero-btn collapse-btn mt-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-heroes" aria-expanded="false" aria-controls="collapse-heroes">
        Show Available Heroes
      </button>
    </p>
    <div class="collapse" id="collapse-heroes">
      <div class="container all-heroes-container overflow-auto">
        <div class="row row-cols-3 row-cols-lg-6 g-3">
          <% Object.keys(results).sort().forEach((hero) => { %>
            <div class="col">
              <div class="card h-100 text-center">
                <img src="<%= results[hero].images.full %>" alt="dota2 hero portrait">
                <div class="card-body d-flex flex-column">
                  <h3 class="card-title mt-auto">
                    <%= results[hero].localized_name.split("_").join(" ") %>
                  </h3>
                  <form action="/heroes" method="POST">
                    <input 
                      hidden 
                      type="text" 
                      name="name" 
                      value="<%= results[hero].localized_name %>"
                    >
                    <input 
                      hidden 
                      type="text" 
                      name="imageUrl" 
                      value="<%= results[hero].images.vert %>"
                    >
                    <button class="btn hero-btn mt-auto" type="submit">Add Hero</button>
                  </form>
                </div>
              </div>
            </div>
          <% }); %> 
        </div>
      </div>
    </div>
  <% } %>
</main>

<%- include('../partials/footer') %>