<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/heroes/index.css">
<%- include('../partials/nav') %>

<main>
  <h1 class="my-4">All Heroes</h1>

  <div class="container my-4">
    <div class="row row-cols-3 row-cols-lg-6 g-5 justify-content-center">
      <% heroes.forEach((hero) => { %>
        <div class="col">
          <div class="card h-100 text-center">
            <img src="<%= hero.imageUrl %>" alt="dota2 hero portrait">
            <div class="card-body">
              <h2 class="card-title">
                <%= hero.name.split("_").join(" ") %> 
              </h2>
              <p><%= hero.guides.length %> Guides Available</p>
              <a 
                href="/heroes/<%= hero._id %>"
                class="btn btn-primary"
              >
                Details
              </a>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>

  <% if(!user) {%>
    <h2 class="notification my-3">Login to add a new Hero</h2>
  <% } %>

  <% if (user) { %>
    <p>
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-heroes" aria-expanded="false" aria-controls="collapse-heroes">
        Show Available Heroes
      </button>
    </p>
    <div class="collapse" id="collapse-heroes">
      <div class="container">
      <div class="row row-cols-3 row-cols-lg-6 g-3">
        <% Object.keys(results).sort().forEach((hero) => { %>
          <div class="col">
            <div class="card h-100 text-center">
              <img src="<%= results[hero].images.full %>" alt="dota2 hero portrait">
              <div class="card-body">
                <h3 class="card-title">
                  <%= results[hero].localized_name.split("_").join(" ") %>
                </h3>
                <form action="/heroes" method="POST">
                  <input 
                    hidden 
                    type="text" 
                    name="name" 
                    value="<%= results[hero].localized_name %>"
                  >
                  <input 
                    hidden 
                    type="text" 
                    name="imageUrl" 
                    value="<%= results[hero].images.vert %>"
                  >
                  <button class="btn btn-primary" type="submit">Add Hero</button>
                </form>
              </div>
            </div>
          </div>
        <% }); %> 
      </div>
      </div>
    </div>
  <% } %>
</main>

<%- include('../partials/footer') %>