<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/heroes/show.css">
<%- include('../partials/nav') %>

<main>
  <h2 class="mt-4 page-title">Hero Details</h2>

  <h1 class="mt-2 hero-name"><span><%= hero.name.split("_").join(" ") %></span></h1>

  <div class="container mt-3">
    <div class="row justify-content-center">
      <div class="card col-lg-4">
        <img src="<%= hero.imageUrl %>" alt="dota2 hero portrait">
      </div>
    </div>
  </div>

  <div class="container mt-3">
    <div class="row">
      <div class="col text-center">
        <button class="btn return-btn" type="submit">
          <a class="text-decoration-none" href="/heroes">Return to Heroes</a>
        </button>
      </div>
    </div>
  </div>

  <% if (hero.guides.length) { %> 
    <div class="container overflow-auto guide-container mt-2">
      <% hero.guides.forEach((guide) => { %>
        <div class="row mt-4 hero-guide guide-header">
          <div class="col-9">
            <h4>
              <span class="title"><%= guide.name %></span>
                [ author: 
              <a href="/profiles/<%= guide.author._id %>"><%= guide.author.name %></a>]
            </h4>
          </div>
          <div class="col-3 d-flex justify-content-end align-items-end">
            <p class="date">
              Last Updated:
              <%= guide.updatedAt.toISOString().split("T")[0] %>
            </p>
          </div>
        </div>
        <div class="row guide-body">
          <div class="col">
            <div class="container">
              <div class="row p-2 overflow-auto item-container">
                <h4>Starting</h4>
                <% guide.startingItems.forEach((item) => { %>
                  <div class="col-lg-2 col-md-3 col-md-4 ">
                    <div class="card h-100 text-center">
                      <img src="<%= item.imageUrl %>" alt="dota2 item thumbnail">
                    </div>
                  </div>
                <% }) %>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="container">
              <div class="row p-2 overflow-auto item-container">
                <h4>Core</h4>
                <% guide.coreItems.forEach((item) => { %>
                  <div class="col-lg-2 col-md-3 col-md-4 ">
                    <div class="card h-100 text-center">
                      <img src="<%= item.imageUrl %>" alt="dota2 item thumbnail">
                    </div>
                  </div>
                <% }) %>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="container">
              <div class="row p-2 overflow-auto item-container">
                <h4>Situational</h4>
                <% guide.situationalItems.forEach((item) => { %>
                  <div class="col-lg-2 col-md-3 col-md-4 ">
                    <div class="card h-100 text-center">
                      <img src="<%= item.imageUrl %>" alt="dota2 item thumbnail">
                    </div>
                  </div>
                <% }) %>
              </div> 
            </div>
          </div>
        </div>
        <% if (guide.author.equals(user?.profile._id)) { %>
          <div class="row guide-footer">
            <div class="col-6 text-center">
              <form action="/guides/<%= guide.id %>/edit" method="GET">
                <button class="user-btn p-2 m-2" type="submit">Edit</button>
              </form>
            </div>
            <div class="col-6 text-center">
              <form action="/guides/<%= guide.id %>?_method=DELETE" method="POST">
                <input hidden type="text" name="heroId" value="<%= hero._id %>">
                <button class="user-btn p-2 m-2" type="submit">Delete</button>
              </form>
            </div>
          </div>
        <% } %>
      <% }) %>
    </div>
  <% }else { %>
    <div class="container text-center mt-4">
      <h1>No Guides Yet</h1>
    </div>
  <% } %>

</main>

<%- include('../partials/footer') %>